.budgetList{
    display: inline-block;
    list-style: none;
    position: relative;
    padding: 1em 5em 5em 0;
}
.budgetList li{
    display:inline-block;
    background-color: $site-colors-bgr;
    border-radius: 100%;
    border: 3em solid $site-colors-header;
    width: 20em;
    height: 20em;
    text-align: center;
    line-height: 13.5em;
    margin: 0 2em 2em 0;
}
.selected{
    border: 5em solid #eee;
}